.card {
    width: 400px;
    height: 210px;
    border: 0.5px solid #3b3b7c;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.63);
    -moz-box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.63);
    box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.63);
    margin: auto;
    transition: width 1s;
    font-weight: bold;
    color: white;
    transition: background-color .5s ease-in;
}
.card input {
    width: 50px;
    height: 30px;
    margin: 5px;
    background-color: #98a5c5;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    padding: 2px;
    font-size: 12px;
}
input[name="expDateByM"]:-moz-placeholder, input[name="expDateByY"]:-moz-placeholder{
    text-align: right;
    color: black;
}
input[name="expDateByM"]:-ms-input-placeholder, input[name="expDateByY"]:-ms-input-placeholder{
    text-align: right;
    color: black;
}
input[name="expDateByM"]::-webkit-input-placeholder, input[name="expDateByY"]::-webkit-input-placeholder {
    text-align: right;
    color: black;
}
.id {
    text-align: center;
    margin: 0 auto;
}
.cardName {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.cardName label {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 10px;
}
.shetab {
    float: left;
    width: 40px;
    display: inline;
}
.logo {
    float: right;
    width: 40px;
    display: inline;
}
.cardInfo {
    padding: 7.5px;
}
.cardInfo input{
    width: 30px;
    height: 30px;
}
.submit {
    text-align: center;
    background-color: #8692be;
    width: 200px;
    margin: 15px auto;
    border-radius: 10px;
    transition: opacity .5s ease-in;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 1px rgba(255,255,255,1);
}
.submit input[type="password"] {
    background-color: #98a5c5;
    display: block;
    margin: 10px auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}
.submit input[type="submit"]{
    background-color: #404fa1;
    color: whitesmoke;
    border: 1px solid #3b3b7c;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.submit input[type="submit"]:disabled{
    background-color: rgba(75, 90, 247, 0.18);
    cursor: not-allowed;
}
#inp4 {
    display: none;
}
#cvv {
    width: 35px;
}
@media only screen and (max-width: 500px) {
    .card {
        width: 180px;
        height: 100px;
        font-size: 10px;
    }
    .card input,.cardInfo input {
        width: 30px;
        height: 10px;
        margin: 2px;
        font-weight: normal;
        border-radius: 2px;
    }
    .cardInfo input{
        margin-top: 5px;
        padding: 1px;
    }
    .shetab {
        width: 20px;
    }
    .logo {
        width: 20px;
    }
    .cardName label{
        margin-top: 15px;
        margin-bottom: 5px;
    }
}