.card-wrapper {
    width: 95%;
    padding: 20px 0;
    margin: 10px auto;
    background-color: #1f1f28;
    border-radius: 10px;
    -webkit-box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.63);
    -moz-box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.63);
    box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.63);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}